<h2 class="heading heading-1">お問い合わせ確認画面</h2>
<div class="container p-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="post-detail">
        <div class="d-flex mx-3">
          <dt>お名前</dt>
          <dd><%= @contact.name %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>メールアドレス</dt>
          <dd><%= @contact.email %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>件名</dt>
          <dd><%= @contact.subject %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>メッセージ</dt>
          <dd><%= @contact.message %></dd>
        </div>
      </div>

      <div class="d-flex" style="center-block">
        <div class="mr-3">
        <%= form_with model: @contact do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.button '送信', class: "post-edit-user-button" %></div>
        <% end %>
        </div>

        <div>
        <%= form_with model: @contact, url: back_contacts_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.button '入力画面に戻る', class: "contact-edit-user-button" %></div>
        <% end %>
        </div>
      </div>


    </div>
  </div>
</div>