<div class="posts-search">
 <div id="accordion" class="post-search-action">
  <div id="accordion-head" class="post-search__accordion-head">
   <p>
    <i class="fa-solid fa-magnifying-glass"></i>
    検索フォームを<span id="accordion-open-or-close-text">開く</span>
   </p>
   <span id="accordion-icon">
    <i class="fa-solid fa-circle-chevron-left"></i>
   </span>
  </div>
  <div id="accordion-body" style="display: none;">
   <%= search_form_for @q do |f| %>
    <div class="search-body">
      <div style="margin:20px 30px;">
        <div>
         <%= f.label :btype_cont, '戦型'%>
        </div>
        <div>
         <%= f.search_field :btype_cont %>
        </div>
      </div>
      <div style="margin:20px 30px;">
        <div>
         <%= f.label :location_cont, '場所' %>
        </div>
        <div>
         <%= f.search_field :location_cont %>
        </div>
      </div>
      <%= f.submit'検索', class: 'btn post-search-user-button'  %>
    </div>
   <% end %>
  </div>
 </div>
</div>
