<h2 class="heading heading-1">投稿一覧</h2>
<div class="publish-list__item d-flex">
  <% @posts.each do |post| %>
   <div class=" m-2">
    <div class="d-flex mx-3">
     <dt>ユーザーネーム</dt>
     <dd>
       <%= link_to post_path(post) do %>
       <%= post.user.name %>
       <% end %>
     </dd>
    </div>
    <div class="d-flex mx-3">
     <dt>打ちたい戦型</dt>
     <dd><%= post.btype %></dd>
    </div>
    <div class="d-flex mx-3">
     <dt>場所</dt>
     <dd><%= post.location %></dd>
    </div>
    <div class="d-flex mx-3">
     <dt>一言</dt>
     <dd><%= post.text %></dd>
    </div>
    <div id='favorite_buttons_<%= post.id %>'><%= render "public/favorites/btn", post: post %></div>
   </div>
  <% end %>
 <div>


