 <h2 class="heading heading-1">新規投稿</h2>
       <%= render "layouts/error_messages", obj: @post %>

  <div class="d-flex justify-content-center p-5">
     <%= form_with model: @post do |f| %>
    <dl class="profile-detail">
      <div>
        <dt>
        <%= f.label :btype, "打ちたい戦型" %>
       </dt>
       <dd>
        <%= f.text_field :btype, autofocus: true, class: "btype" ,placeholder:"カットマン" %>
        </dd>
       </div>
       <div>
         <dt>
           <%= f.label :location, "場所" %>
         </dt>
        <dd>
          <%= f.text_field :location, class: "location" ,placeholder:"東京都新宿区" %>
        </dd>
       </div>
      <div>
        <dt>
          <%= f.label :text, "一言" %>
        </dt>
        <dd>
           <%= f.text_field :text, class: "text" ,placeholder:"久々にやりたい！" %>
        </dd>
      </div>
    </dl>
    <div class="text-center">
      <%= f.button "投稿する", class: "post-edit-user-button" %>
    </div>

  <% end %>
  </div>


