<div class="container">
  <div class="row">
    <div class="col-5">
      <table class="table">
        <tbody>
            <tr class="borger-radius:100px;">
              <td class="table-warning"  style="borger-radius:100px;">ユーザーネーム</td>
              <td><%= link_to @post.user.name, user_path(@post.user) %></td>
            </tr>

            <tr >
              <td class="table-warning">打ちたい戦型</td>
              <td><%= @post.btype %></td>
            </tr>

            <tr>
              <td class="table-warning">場所</td>
              <td><%= @post.location %></td>
            </tr>

            <tr>
              <td class="table-warning">一言</td>
              <td><%= @post.text %></td>
            </tr>
          </tbody>
      </table>
       <aside id="subA">
         <div id="comment-form" class="boxA" >
           <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
    </div>
    <div class="col-6">
      <h2 class="text-center pt-3">コメント</h2>
       <div id="post-comments" class="text-center pt-3">
              <%= render "public/post_comments/index", post: @post %>
       </div>
    </div>
  </div>
</div>