<h2 class="heading heading-1">投稿詳細</h2>
<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="post-detail">
        <div class="d-flex mx-3">
          <dt>ユーザーネーム</dt>
          <dd><%= link_to @post.user.name, admin_user_path(@post.user) %></dd>
        </div>
        <div class="d-flex mx-3">
         <dt>打ちたい戦型</dt>
         <dd><%= @post.btype %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>場所</dt>
          <dd><%= @post.location %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>一言</dt>
          <dd><%= @post.text %></dd>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3 class="header3">コメント</h3>
       <div id="post-comments">
        <% @post.post_comments.each do |post_comment| %>
            <div class="card" style="margin:10px 10px;">
              <div class="card-header comment-header">
                <%= link_to admin_user_path(post_comment.user) do %>
                  <%= post_comment.user.name %>
                <% end %>
              </div>
              <div class="card-body comment-box">
              <%= post_comment.comment %>
                <% if post_comment.user == current_user %>
                <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete,remote:true, data: {"turbolinks" => false}, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
               <% end %>
              </div>
            </div>
        <% end %>
       </div>
    </div>
  </div>
</div>