<h2 class="heading heading-1"><%= @user.name %>さんのユーザー情報編集</h2>
  <div class="d-flex justify-content-center">
  <%= form_with model: [:admin, @user], url: admin_user_path(@user.id), method: :patch do |f| %>

<dl class="profile-detail p-5">
     <div>
        <dt>
          ユーザーID
        </dt>
       <dd>
          <%= @user.id %>
       </dd>
     </div>
　　 <div>
         <dt>
          ユーザー名
         </dt>
        <dd>
          <%= f.text_field :name %>
        </dd>
       </div>
      <div>
        <dt>
         メールアドレス
        </dt>
        <dd>
           <%= f.text_field :email %>
        </dd>
      </div>
      <div>
        <dt>
         通報された回数
        </dt>
        <dd>
           <%= Report.reported_count(@user.id) %>
        </dd>
      </div>
        <div class="form-group text-center">
        <br>
        <div class="custom-control custom-radio custom-control-inline">
          <%= f.radio_button :user_status, :available, id: "user_status_0", class: "custom-control-input" %>
          <%= f.label I18n.t("enums.user.user_status.available"), class: "custom-control-label", for: "user_status_0" %>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <%= f.radio_button :user_status, :suspended, id: "user_status_1", class: "custom-control-input" %>
          <%= f.label I18n.t("enums.user.user_status.suspended"), class: "custom-control-label", for: "user_status_1" %>
        </div>
      </div>
      </dl>

      <div class="text-center">
        <%= f.submit "更新する", class: "btn post-edit-user-button" %>
      </div>
      <% end %>
    </div>