<h2 class="heading heading-1"><%= @user.name %>さんのユーザー情報編集</h2>
  <div class="d-flex justify-content-center">
  <%= form_with model: [:admin, @user], url: admin_user_path(@user.id), method: :patch do |f| %>

<dl class="profile-detail p-5">
     <div>
        <dt>
          ユーザーID
        </dt>
       <dd>
          <%= @user.id %>
       </dd>
     </div>
　　 <div>
         <dt>
          ユーザー名
         </dt>
        <dd>
          <%= f.text_field :name %>
        </dd>
       </div>
      <div>
        <dt>
         メールアドレス
        </dt>
        <dd>
           <%= f.text_field :email %>
        </dd>
      </div>
        <div>
          <dt>
            ユーザーステータス
          </dt>
          <dd>
            <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "退会" %>

        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "有効" %>
          </dd>
        </div>
      </dl>

      <div class="text-center">
        <%= f.submit "更新する", class: "btn post-edit-user-button" %>
      </div>
      <% end %>
    </div>