<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col">
        <div class="col-6 text-center mb-5 mt-3">
          <div class="titleD">
            <h4>
              <%= @user.name %>さんのユーザー詳細
            </h4>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex align-items-center pl-5">
            <table class="table table-borderless" style="color: #48120E;">
              <tr>
                <th>ユーザーID</td>
                <td><%= @user.id %></td>
              </tr>
              <tr>
                <th>氏名</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th>会員ステータス</th>
                <th><%= @user.is_active %></th>
              </tr>
              <tr>
                <td></td>
                <td class="d-flex justify-content-end">
                  <div class="title7">
                    <div class="title8">
                      <%= link_to "編集する", edit_admin_user_path, class:"btn" %>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
