<h2 class="heading heading-1">通知一覧<i class="fa-sharp fa-solid fa-bell"></i></h2>
<div>
 <% if @notifications.where(is_checked: true).present? %>
 <%= link_to "通知をクリアする", destroy_all_notifications_path, method: :delete,"data-confirm" => "既読済み通知を削除しますか？", class: "ml-2 btn btn-outline-secondary btn-sm"%>
 <% end %>
</div>
    <%= form_tag(notifications_path, method: :get) do %>
        <div class="notice_search_form">
          <%= select_tag(:range, options_for_select([['新しい順', 'latest'], ['古い順', 'oldest']], {selected: params[:range]}),{:class =>'search-range'}) %>
          <%= select_tag(:option, options_for_select([['すべて', 'all'], ['未読', 'uncheck'], ['既読', 'checked']], {selected: params[:option]}),{:class =>'search-range'}) %>
          <%= button_tag '検索', name: nil, class: "search-button" %>
        </div>
    <% end %>


<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<table class='table'>
  <% notifications.each do |notification| %>
    <tr class="<%= notification.is_checked ? "table_group2" : "table_group" %>">
      <td>
        <%= render "notification", notification: notification %>
      </td>
    </tr>
  <% end %>
 </table>
 <!--通知が一つもない場合の表示-->
<% if notifications.empty? %>
  <p>通知はありません</p>
<% end %>