<div class="container">
  <div class="row">
    <h1>My Page</h1>
    </div>
  <div class="row">
    <div class="col-5">
      <table class="table">
        <tr>
          <td>ユーザーネーム</td>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <td>経験年数</td>
          <td><%= current_user.year %></td>
        </tr>
        <tr>
          <td>戦型</td>
          <td><%= current_user.btype %></td>
        </tr>
        <tr>
          <td>経験年数</td>
          <td><%= current_user.year %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= current_user.addresses %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= current_user.telephone %></td>
        </tr>
        <tr>
          <td>フォロー</td>
          <td><%= link_to current_user.followings.count, user_followings_path(current_user) %></td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td><%= link_to current_user.followers.count, user_followers_path(current_user) %></td>
        </tr>
        <% if @user.email != "guest@example.com" %>
        <tr>
          <td><%= link_to "ユーザー編集", edit_user_path(current_user), class: "btn btn-success text-white" %></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>