<h2 class="heading heading-1"><%= @user.name %>の情報</h2>
<div class="container">
  <div class="row">
    <div class="col-5">
      <h2 class="header3"><%= @user.name %>の詳細</h2>
     <div class="post-detail">
        <div class="d-flex mx-3">
          <dt>ユーザーネーム</dt>
          <dd><%= @user.name %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>経験年数</dt>
          <dd><%= @user.year %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>戦型</dt>
          <dd><%= @user.btype %></dd>
        </div>
        <!--<tr>-->
        <!--  <td>自己紹介</td>-->
        <!--  <td><%#= current_user.introduction %></td>-->
        <!--</tr>-->
        <div class="d-flex mx-3">
          <dt>メールアドレス</dt>
          <dd><%= @user.addresses %></dd>
        </div>
        <div class="d-flex mx-3">
          <dt>電話番号</dt>
          <dd><%= @user.telephone %></dd>
        </div>
       <div class="d-flex mx-3">
          <dt>フォロー</dt>
          <dd><%= link_to @user.followings.count, user_followings_path(@user) %></dd>
        </div>
       <div class="d-flex mx-3">
          <dt>フォロワー</dt>
          <dd><%= link_to @user.followers.count, user_followers_path(@user) %></dd>
        </div>
        <div>
          <% if current_user != @user %>
            <%= render "public/relationships/btn", user: @user, options: { class: ""} %>
          <% else %>
            <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </div>
        <div>
          <% unless @user.id == current_user.id %>
            <% if (current_user.following? @user) && (@user.following? current_user)  %>
            <% if @isRoom == true %>
              <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
              <% end %>
            <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
    </div>

    <div class="col-5">
      <table class="table">
        <thead>
          <%= @user.name %>の投稿
        </thead>

        <tbody>
          <!-- user no toukou ichiran  -->
          <% @user.posts.each do |post| %>
            <tr>
              <td class="table-warning">打ちたい戦型</td>
              <td><%= post.btype %></td>
            </tr>

            <tr>
              <td class="table-warning">場所</td>
              <td><%= post.location %></td>
            </tr>

            <tr>
              <td class="table-warning">一言</td>
              <td><%= post.text %></td>
            </tr>
          <% end %>
        </tbody>


      </table>
    </div>
  </div>
</div>
