  <h1 class="text-center">
       卓人
     </h1>
   <div id="navArea" style="background-color: #60c1d9;" >
      <nav>
        <div class="inner">
          <ul>
           <% if user_signed_in? %>
             <li class="nav-item">

              <%= link_to "マイページ", users_path %>

             </li>

             <li class="nav-item">

              <%= link_to "新規投稿", new_post_path %>

             </li>
             <li class="nav-item">

              <%= link_to "投稿一覧", posts_path%>

             </li>
             <li class="nav-item">
              <%= link_to "お問い合わせ", new_contact_path %>
            </li>
            <li class="nav-item">

              <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>

            </li>
            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "ユーザー一覧", admin_users_path%>
              </a>
            </li>
            <li class="nav-item">
              <%= link_to "投稿履歴一覧", admin_posts_path%>
              </a>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete%>
             </a>
            </li>
            <% else %>

            <li class="nav-item"><%= link_to "新規登録", new_user_registration_path %></li>
            <li class="nav-item"><%= link_to "ログイン", new_user_session_path %></li>
          </ul>
        </div>
      </nav>
      <% end %>

      <div class="toggle_btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

<script>
(function($) {
  var $body   = $('body');
  var $btn   = $('.toggle_btn');
  var open   = 'open'; // class
  $btn.on( 'click', function() {
    if ( ! $body.hasClass( open ) ) {
      $body.addClass( open );
    } else {
      $body.removeClass( open );
    }
  });
} )(jQuery);</script>

