<!DOCTYPE html>
<html>
  <head>
    <title>Takujinn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100 <%= 'toppage' if @current_page == 'top' %> " style="margin: 0;">
      <header class="wrapper" style="background-color: #60c1d9; height:100px;">
        <%= render 'layouts/header' %>

      </header>
      <main class="flex-shrink-0 bg-powderblue">
        <div class="pb-5">
          <%= yield %>
        </div>
      </main>
  </body>
</html>
